/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#7ae1d9;
}

/* Style for the header */
header {
  background-image: linear-gradient(100deg, #00ada5, #2948B1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style for the navigation bar */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  transition: padding 0.15s,
  margin 0.15s;
}

nav a:hover{
  background-color: #00ada5;
  color: #333;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

nav ul li {
  margin-right: 20px;
}

/* Style for the profile button */
.icon {
  background-color: #00ada5;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  border-style: double;
  border-color: white;
  border-width: 5px;
  margin-right: 0%;
  transition: padding 0.15s,
  margin 0.15s;
}

.icon:hover{
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;

}

footer {
  background-image: linear-gradient(100deg, #00ada5, #2948B1);
  color: #fff;
  padding: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.selected {
  background-color: #00ada5;
  border-radius: 8px;
}

.listtable {
  border-style: double;
  width: 80%;
  margin-left: 150px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
  background-color: white;
}

th {
  background-color:  #00ada5;
  color: black;
}

.profile-button{
  background-image: linear-gradient(130deg, #00ada5, #2948B1);
  color: white;
  border-style: double;
  height: 50px;
  width: 300px;
  border-radius:18px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 580px;
}

.kiri-button{
  background-color: #30d5c8;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  height: 50px;
  width: 200px;
  border-radius:18px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 500px;
  margin-bottom: 30px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.kiri-button:hover{
  background-color: #c5ac1f;
  color: #333;;
  cursor: pointer;
}

.kanan-button{
  background-color: #30d5c8;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  height: 50px;
  width: 200px;
  border-radius:18px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 50px;
  margin-bottom: 30px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.kanan-button:hover{
  background-color: #c5ac1f;
  color: #333;;
  cursor: pointer;
}

.tengah-button{
  background-color: #30d5c8;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  height: 50px;
  width: 200px;
  border-radius:18px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 630px;
  margin-bottom: 20px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.tengah-button:hover{
  background-color: #c5ac1f;
  color: #333;;
  cursor: pointer;
}

.comment{
  background-color: #2948B1;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  height: 30px;
  width: 80px;
  border-radius:18px;
  font-weight: bold;
  font-size: 10px;
  margin-left: 260px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.comment:hover{
  background-color: #c5ac1f;
  color: #333;;
  cursor: pointer;
}

.like{
  background-color: #2948B1;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  height: 30px;
  width: 80px;
  border-radius:18px;
  font-weight: bold;
  font-size: 10px;
  margin-left: 10px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.like:hover{
  background-color: #c5ac1f;
  color: #333;;
  cursor: pointer;
}

.search-form {
  margin-left: 320px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 8px;
  width: 350px;
}

.search-button {
  padding: 8px 16px;
  background-color:#30d5c8;
  color: black;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  cursor: pointer;
}

.search-button:hover {
  background-color: #c5ac1f;
}

.warning-button{
  background-image: linear-gradient(130deg, #00ada5, #2948B1);
  color: white;
  border-style: double;
  height: 50px;
  width: 700px;
  border-radius:18px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 400px;
}

.add-button{
  background-color: #2948B1;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  height: 50px;
  width: 200px;
  border-radius:18px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 630px;
  margin-bottom: 20px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.3);
}

.add-button:hover{
  background-color: #c5ac1f;
  color: #333;;
  cursor: pointer;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 10px;
}

.comment .author {
  font-weight: bold;
}

.comment .content {
  margin-left: 20px;
}

/* Style for the comment form */
.comment-form {
  margin-top: 20px;
}

.comment-form textarea {
  width: 100%;
  height: 80px;
  padding: 5px;
}

.comment-form button {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.intro{
  background-image: linear-gradient(100deg, #00ada5, #2948B1);
  color: #fff;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: double;
  border-width: 8px;
  border-color: white;
  margin-left: 150px;
}
